<table class="user_setting_table">
  <tr>
    <td valign="top" class="user_setting_sidebar">
      <div id="user_setting_sidebar">
        <%= render 'links' %>
      </div>
    </td>
    <td class="gap">
    </td>
    <td valign="top" class="user_setting_main">
      <div id="user_setting_main">
        <strong>プロフィールの設定</strong>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
            <p class="user_edit_title">プロフィール画像</p>
            <p class="user_edit_title">
              <div id="user_edit_form_picture">
                  <%= image_tag current_user.picture.url %>
              </div>
              <div id="user_edit_form_picture">
                <%= f.file_field :picture, autofocus: true, autocomplete: "new-password", class: "edit_form_picture", id: "post_image" %>
              </div>
          </p>

          <style type="text/css">div#preview img {width: 70px;border-radius: 50%;border: solid 2px #ccc;}</style>

          <script>
          function Filepreview(evt){
           var files = evt.target.files;

          document.getElementById('preview').innerHTML =""

           for(var i = 0; i < 3;i++){
           var reader = new FileReader();
           var f = files[i]
           reader.onload = (function(){
           return function(e) {
           var span = document.createElement('span');
           span.innerHTML= "<img src='" +e.target.result + "'>";
           document.getElementById('preview').insertBefore(span,null);
           };
           })(f);
           reader.readAsDataURL(f);
           }
          }
          document.getElementById('post_image').addEventListener('change',Filepreview,false);
          </script>


          <div id="user_edit_form">
             <p class="user_edit_title">ユーザーネーム</p>
              <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "edit_form_username" %>
          </div>

          <div id="user_edit_form">
             <p class="user_edit_title">ユーザーID</p>
              <%= f.text_field :profile_id, autofocus: true, autocomplete: "profile_id", class: "edit_form_profile_id" %>
          </div>

          <div id="user_edit_form">
              <p class="user_edit_title">メールアドレス</p>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "edit_form_email" %>
          </div>

          <div id="user_edit_form">
              <p class="user_edit_title">自己紹介文</p>
              <%= f.text_area :description, autofocus: true, autocomplete: "description", class: "edit_form_description" %>
          </div>
          <div id="edit_user_info">
            <%= f.submit "更新する", :class => "edit_user_info" %>
          </div>
          <% end %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
        </div>

<div id="user_setting_main">
  <strong>パスワードの変更</strong>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |t| %>
            <div id="user_edit_form">
                  <p class="user_edit_title">パスワード</p>
                  <%= t.password_field :password, autocomplete: "new-password", class: "edit_form_password" %>
            </div>
            <div id="user_edit_form">
                  <p class="user_edit_title">パスワード確認用</p>
                  <%= t.password_field :password_confirmation, autocomplete: "new-password", class: "edit_form_password" %>
            </div>
            <div id="edit_user_info">
              <%= t.submit "変更する", :class => "edit_user_password" %>
            </div>
          <% end %>
      </div>
    </td>
  </tr>
</table>
