<table class="user_setting_table">
  <tr>
    <td valign="top" class="user_setting_sidebar">
      <div id="user_setting_sidebar">
        <%= render 'links' %>
      </div>
    </td>
    <td class="gap">
    </td>
    <td valign="top" class="user_setting_main">
      <div id="user_setting_main">
        <h2><%= "#{current_user.username}を編集する" %></h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div id="picture_form">
            プロフィール画像
            <p class="article_user_picture">
              <%= image_tag current_user.picture.url %></br>
              <%= f.file_field :picture, autofocus: true, autocomplete: "new-password", class: "edit_form_picture", id: "post_image" %>
            </p>
          </div>

          <div id="preview"></div>

          <style type="text/css">div#preview img {width: 30px;}</style>

          <script>
          function Filepreview(evt){
           var files = evt.target.files;

          document.getElementById('preview').innerHTML =""

           for(var i = 0; i < 3;i++){
           var reader = new FileReader();
           var f = files[i]
           reader.onload = (function(){
           return function(e) {
           var span = document.createElement('span');
           span.innerHTML= "<img src='" +e.target.result + "'>";
           document.getElementById('preview').insertBefore(span,null);
           };
           })(f);
           reader.readAsDataURL(f);
           }
          }
          document.getElementById('post_image').addEventListener('change',Filepreview,false);
          </script>


          <div id="username_form">
             ユーザーネーム</br>
              <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "edit_form_username" %>
          </div>

          <div id="profile_id_form">
             ユーザーID</br>
              <%= f.text_field :profile_id, autofocus: true, autocomplete: "profile_id", class: "edit_form_profile_id" %>
          </div>

          <div id="email_form">
              メールアドレス<br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "edit_form_email" %>
          </div>

          <div id="description_form">
              自己紹介文<br />
              <%= f.text_area :description, autofocus: true, autocomplete: "description", class: "edit_form_description" %>
          </div>
          <div class="actions">
              <%= f.submit "Update", :class => "edit_user_info" %>
          </div>
          <% end %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

        </br>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |t| %>
            <div class="field">
                  パスワード<br />
                  <%= t.password_field :password, autocomplete: "new-password", class: "edit_form_password" %>
                  <% if @minimum_password_length %>
                    <br />
                    <em><%= @minimum_password_length %> 文字以上</em>
                  <% end %>
            </div>
            <div class="field">
                  パスワード確認用<br />
                  <%= t.password_field :password_confirmation, autocomplete: "new-password", class: "edit_form_password" %>
            </div>
            <div class="actions">
                <%= t.submit "Update", :class => "edit_user_password" %>
            </div>
          <% end %>
      </div>
    </td>
  </tr>
</table>
