<div id="sign_up_form_2">
  <p class="service_description">プレポは、エンジニアリングに特化したオープンソース推奨のプレスリリースサービスです。<br/>
        あなたが作ったサービスをオープンソースでプレスリリースして、他のプログラマーと情報を共有しましょう！
  </p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="field">
      <%= f.text_field :profile_id, autofocus: true, autocomplete: "profile_id", placeholder: "ユーザーID", class: "sign_up_form"  %>
      <% if @user.errors[:profile_id].any? %>
      <div id="error">
        <%= "ユーザーID#{@user.errors.messages[:profile_id][0]}" %>
      </div>
      <% end %>
    </div>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "sign_up_form" %>
      <% if @user.errors[:email].any? %>
      <div id="error">
        <%= " メールアドレス#{@user.errors.messages[:email][0]}" %>
      </div>
      <% end %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード(6文字以上)", class: "sign_up_form" %>
      <% if @user.errors[:password].any? %>
      <div id="error">
        <%= "パスワード#{@user.errors.messages[:password][0]}" %>
      </div>
      <% end %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード確認用", class: "sign_up_form" %>
      <% if @user.errors[:password_confirmation].any? %>
      <div id="error">
        <%= "パスワード確認用#{@user.errors.messages[:password_confirmation][0]}" %>
      </div>
      <% end %>
    </div>

    <div class="sign_up_submit">
      <%= f.submit "プレスリリースを始める", :class => "sign_up_submit" %>
    </div>
    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
      <table class="omniauth_links">
        <tr>
        <%- resource_class.omniauth_providers.each do |provider| %>
            <td>
              <%= link_to image_tag("github.png"), omniauth_authorize_path(resource_name, provider) , { :class => "sign_omniauth_button" } %>
            </td>
        <% end -%>
      </tr>
      </table>
      <% end -%>
    <% end -%>
  <% end %>
</div>
