<% if params[:category].present? %>
<% else %>
<table class="article_list_period_table">
  <tr>
    <td>
      <p>
        <%= link_to "新着", articles_path, { :class => "article_period_clicked" } %>
      </p>
    </td>
    <td>
  <% if params[:period] == "today"%>
    <p>
      <%= link_to "今日", articles_path(period: "today"), {:class => "article_period_clicked"} %>
    </p>
  <% else %>
    <p>
      <%= link_to "今日", articles_path(period: "today"), {:class => "article_period"} %>
    </p>
  <% end %>
  </td>
    <td>
  <% if params[:period] == "this_week"%>
    <p>
      <%= link_to "週間", articles_path(period: "this_week"), {:class => "article_period_clicked"} %>
    </p>
  <% else %>
    <p>
      <%= link_to "週間", articles_path(period: "this_week"), {:class => "article_period"} %>
    </p>
  <% end %>
  </td>
  <td>
  <% if params[:period] == "this_month" %>
    <p>
      <%= link_to "月間", articles_path(period: "this_month"), {:class => "article_period_clicked"} %>
    </p>
  <% else %>
    <p>
      <%= link_to "月間", articles_path(period: "this_month"), {:class => "article_period"} %>
    </p>
  <% end %>
  </td>
  <td>
  <% if params[:period] == "this_year" %>
    <p>
      <%= link_to "年間", articles_path(period: "this_year"), {:class => "article_period_clicked"} %>
    </p>
  <% else %>
    <p>
      <%= link_to "年間", articles_path(period: "this_year"), {:class => "article_period"} %>
    </p>
  <% end %>
  </td>
  </tr>
</table>
<% end %>
