
<% if params[:category].present? %>
<% else %>
<div id="article_date">
  <ul class="article_box_show">
    <li class="article_box_item">
      <p>
        <%= link_to "新着記事", articles_path(current_articles: "current_articles"), { :class => "article_period_clicked" } %>
      </p>
    </li>
    <li class="article_box_item">
      <p>
        <%= link_to "this week", articles_path(this_week: "this_week"), {:class => "article_period_clicked"} %>
      </p>
    </li>
    <% if params[:this_month].present? %>
    <li class="article_box_item">
      <p>
        <%= link_to "this week", articles_path(this_month: "this_month"), {:class => "article_period_clicked"} %>
      </p>
    </li>
    <% else %>
    <li class="article_box_item">
      <p>
        <%= link_to "this week", articles_path(this_month: "this_month"), {:class => "article_period"} %>
      </p>
    </li>
    <% end %>
    <% if params[:this_year].present? %>
    <li class="article_box_item">
      <p>
        <%= link_to "this week", articles_path(this_year: "this_year"), {:class => "article_period_clicked"} %>
      </p>
    </li>
    <% else %>
    <li class="article_box_item">
      <p>
        <%= link_to "this week", articles_path(this_year: "this_year"), {:class => "article_period"} %>
      </p>
    </li>
    <% end %>
  </ul>

</div>
<% end %>
