<div id='article_form_wrap'>
<%= form_for @article do |article| %>
<div id='article_form_title'>
    <%= article.text_field :title, :placeholder => "タイトル", class: "article_title" %>
</div>

    <% if @article.errors.any? %>
    <%= @article.errors.messages[:title][0] %>
    <% end %>

    <div id='article_form_github'>
        <%= article.text_field :github_repository_url, :placeholder => "github_url", class: "article_github" %>
    </div>

    <div id='article_form_service'>
        <%= article.text_field :service_url, :placeholder => "service_url", class: "article_service" %>
    </div>

    <div id='article_form_service'>
        <%= article.file_field :picture, :placeholder => "service_url", class: "article_service", :multiple => true %>
    </div>


    <div id="article_form_category">
        <ul id='articl_tags'>
          <% @article.tag_list.each do |tag| %>
          <li>
            <%= tag %>
          </li>
          <% end %>
        </ul>
    </div>


    <!-- <%= article.label :category %>
    <div id='article_form_category'>
        <%= collection_check_boxes(:article, :category_ids, Category.all, :id, :name) do |category| %>
        <%= category.label { category.check_box + category.text } %>
        <% end %>
    </div> -->

<% if @article.errors.any? %>
<%= @article.errors.messages[:body][0] %>
<% end %>

<div id=whole_editor>
  <table class="editor_helper">
    <tr>
      <td class="each_element">
        <p class="markdown_code"><%= image_tag "code.png" %></p>
      </td>
      <td class="gap">
      </td>
      <td class="each_element">
        <p class="markdown_table"><%= image_tag "table.png" %></p>
      </td>
      <td class="gap">
      </td>
      <td class="each_element">
        <p class="markdown_quote"><%= image_tag "quote.png" %></p>
      </td>
      <td class="gap">
      </td>
      <td class="each_element">
        <p class="markdown_list"><%= image_tag "list.png" %></p>
      </td>
      <td class="gap">
      </td>
      <td class="each_element">
        <p class="article_picture_form_sub"><%= image_tag "picture.png" %></p>
      </td>
      <td class="gap">
      </td>
      <td class="display_size">
        <p class="expand_form"><%= image_tag "expand.png" %></p>
        <p class="reduce_form"><%= image_tag "reduce.png" %></p>
      </td>
    </tr>
  </table>

  <table id="editor">
    <tr>
      <td class="article_form_main" valign="top">
        <%= article.text_area :body, "v-model" => "input", "debouce" => "300", :placeholder => "body", :class => "article_body", :id => "article_body" %>
      </td>
      <td class="article_form_sub" valign="top">
        <div v-html="input | marked", id="article_preview"></div>
      </td>
    </tr>
  </table>
</div>
<div id="article_submit_button">
  <%= submit_tag "下書き保存",  name: "save_as_draft", class: "article_submit_as_draft_button" %>
  <%= submit_tag "プレポに投稿する", class: "article_submit_button", data: { confirm: 'Sure?' } %>
  <% end %>
</div>
</div>

<%= form_with url: article_pictures_path, enctype: "multipart/form-data", id: :article_picture_form do |form| %>
  <%= form.file_field 'article_picture[picture]', :class => 'article_picture_field' %>
  <%= form.submit class: "article_picture_submit" %>
<% end %>
