
    <table class="article_index_table">
      <tr>
      </td>
        <td valign="top" class="article_index_left">
          <% if params[:group] == "time_line" %>
          <% else %>
            <table class=each_hot_article>
              <tr>
                <td valign="top" class="hot_article">
                  <p class="hot_articles_picture"><%= image_tag @hot_articles.first.user.picture.url %></p>
                  <p class="hot_articles_title"><%= link_to @hot_articles.first.title, article_path(@hot_articles.first) %></p>
                  <table class="hot_article_info">
                    <tr>
                      <td>
                      <table>
                        <tr>
                          <td class="article_list_user">
                            <p class='article_list_user_picture'>
                              <%= link_to (image_tag(@hot_articles.first.user.picture.url)), user_path(@hot_articles.first.user) %>
                            </p>
                          <td>
                          <td class="article_list_username">
                            <%= link_to "#{@hot_articles.first.user.username}", user_path(@hot_articles.first.user) %>
                          </td>
                        </tr>
                        </table>
                        </td>
                        <td>
                        </td>
                        <td>
                        <table class="hot_article_eval">
                          <tr>
                            <td class=article_list_comments>
                              <p class='article_list_comments'>
                                <%= image_tag "comment1.png" %>
                              </p>
                            <td>
                            <td class="article_list_comments">
                                <%= @hot_articles.first.article_comments.count %>
                            <td>
                            <td>
                              <p class='article_list_likes'>
                                <%= image_tag "create_like.png"%>
                              </p>
                            <td>
                            <td class="article_list_likes">
                                <%= @hot_articles.first.likes.count %>
                            <td>
                          <tr>
                        </table>
                        </td>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="gap">
                </td>
                <td valign="top" class="hot_article">
                  <p class="hot_articles_picture"><%= image_tag @hot_articles.second.user.picture.url %></p>
                  <p class="hot_articles_title"><%= link_to @hot_articles.second.title, article_path(@hot_articles.second) %></p>
                  <table class="hot_article_info">
                    <tr>
                      <td>
                      <table>
                        <tr>
                          <td class="article_list_user">
                            <p class='article_list_user_picture'>
                              <%= link_to (image_tag(@hot_articles.second.user.picture.url)), user_path(@hot_articles.second.user) %>
                            </p>
                          <td>
                          <td class="article_list_username">
                            <%= link_to "#{@hot_articles.second.user.username}", user_path(@hot_articles.second.user) %>
                          </td>
                        </tr>
                        </table>
                        </td>
                        <td>
                        </td>
                        <td>
                        <table class="hot_article_eval">
                          <tr>
                            <td class=article_list_comments>
                              <p class='article_list_comments'>
                                <%= image_tag "comment1.png" %>
                              </p>
                            <td>
                            <td class="article_list_comments">
                                <%= @hot_articles.second.article_comments.count %>
                            <td>
                            <td>
                              <p class='article_list_likes'>
                                <%= image_tag "create_like.png"%>
                              </p>
                            <td>
                            <td class="article_list_likes">
                                <%= @hot_articles.second.likes.count %>
                            <td>
                          <tr>
                        </table>
                        </td>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <% end %>
          <div id="article_list">
              <%= render "article_group" %>
              <% @articles.each do |article| %>
              <div id='article_list_bottom'>
                <table class="article_list_top_table">
                  <tr>
                    <td>
                     <h2>
                       <%= link_to article.title, article_path(article), { :class => "article_link" } %>
                     </h2>
                   </td>
                   <% if article.github_repository_url.present? %>
                   <td class="article_list_status">
                     <p class="article_status">オープンソース<p>
                   </td>
                   <% end %>
                 </tr>
               </table>
              <p class='article_list_date'>
                  <%= time_ago_in_words(article.updated_at) %>
              </p>
              <p class='article_list_category'>
                <% article_tags(article).each do |tag| %>
                  <%= link_to "##{tag}", searches_path(tag: tag), { :class => "article_category" } %>
                <% end %>
              </p>


                <table class="article_list_info">
                  <tr>
                  <td class="article_list_user">
                    <p class='article_list_user_picture'>
                      <%= link_to (image_tag(article.user.picture.url)), user_path(article.user) %>
                    </p>
                  <td>
                  <td class="article_list_username">
                    <%= link_to "#{article.user.username}", user_path(article.user) %>
                  </td>
                  <td class=article_list_comments>
                    <p class='article_list_comments'>
                      <%= image_tag "comment1.png" %>
                    </p>
                  <td>
                  <td class="article_list_comments">
                      <%= article.article_comments.count %>
                  <td>
                  <td>
                    <p class='article_list_likes'>
                      <%= image_tag "create_like.png"%>
                    </p>
                  <td>
                  <td class="article_list_likes">
                      <%= article.likes.count %>
                  <td>
                  </tr>
                </table>
            </div>
              <% end %>
          </div>
        </td>
        <td valign="top" class="article_index_right">
          <div id="sidebar">
            <% if user_signed_in? %>
              <%= render 'current_user_sidebar' %>
            <% end %>
            <% if user_signed_in? %>

            <div id='sidebar_articles_index'>
              <p class="tags_title">フォロー中のタグ</p>
              <% following_tags(current_user).limit(5).each do |following_tag| %>
              <p class="sidebar_tags"><%= link_to "##{following_tag.name}", searches_path(tag: following_tag.name), {:class => "article_tag"} %></p>
              <% end %>
            </div>
            <div id='sidebar_articles_index'>
              <p class="tags_title">人気のタグ</p>
              <% tags_sorted_desc.each do |popular_tag| %>
              <p class="sidebar_tags"><%= link_to "##{popular_tag.name}", searches_path(tag: popular_tag.name), {:class => "article_tag"} %></p>
              <% end %>
            </div>
            <% end %>
              <table class="popular_user">
                <tr>
                  <td colspan="2">
                    <p class="user_title">ホットなユーザー</p>
                  </td>
                </tr>
              <% popular_users.each do |user| %>
                <tr>
                  <td valign="top" class="popular_user_picture" valign="top">
                    <p class="popular_user"><%= image_tag user.first.picture.url if user.first.picture.present?%></p>
                  </td>
                  <td valign="top" class="popular_user_main_element" valign="top">
                    <p class="popular_user"><strong><%= link_to user.first.username, user_path(user.first) %></strong></p>
                    <p class="popular_user"><%= link_to "@#{user.first.profile_id}", user_path(user.first) %></p>
                  </td>
                </tr>
              <% end %>
              </table>


                <% @hot_tags.each do |tag| %>
                <div id='sidebar_articles_index'>
                  <p class="tags_title"><%= link_to "##{tag.first}", searches_path(tag: tag.first), {:class => "article_tag"} %></p>
                  <% tag_articles_ranking(tag.first).each do |article| %>
                  <li class="hot_tag_articles"><%= link_to article.title, article_path(article) %></li>
                  <% end %>
                </div>
                <% end %>



        </td>
      </tr>
    </table>
