
    <table class="article_index_table">

      <tr>
        <td colspan="2" class="article_top">
          <% if params[:category] %>
          <div id="article_top">
            <div id='article_top_category_name'>
              <strong><%= @category %></strong>
            </div>
          </div>
          <% end %>
        </td>
      </tr>
      <tr>
      </td>
        <td valign="top" class="article_index_left">
          <% if params[:category].present? %>
          <% else %>
            <table class=each_hot_article>
              <tr>
                <td valign="top" class="hot_article">
                  <p class="hot_articles_picture"><%= image_tag @hot_articles.first.user.picture.url %></p>
                  <p class="hot_articles_title"><%= link_to @hot_articles.first.title, article_path(@hot_articles.first) %></p>
                  <table class="hot_article_info">
                    <tr>
                      <td>
                      <table>
                        <tr>
                          <td class="article_list_user">
                            <p class='article_list_user_picture'>
                              <%= link_to (image_tag(@hot_articles.first.user.picture.url)), user_path(@hot_articles.first.user) %>
                            </p>
                          <td>
                          <td class="article_list_username">
                            <%= link_to "@#{@hot_articles.first.user.username}", users_path(@hot_articles.first.user) %>
                          </td>
                        </tr>
                        </table>
                        </td>
                        <td>
                        </td>
                        <td>
                        <table class="hot_article_eval">
                          <tr>
                            <td class=article_list_comments>
                              <p class='article_list_comments'>
                                <%= image_tag "comment1.png" %>
                              </p>
                            <td>
                            <td class="article_list_comments">
                                <%= @hot_articles.first.article_comments.count %>
                            <td>
                            <td>
                              <p class='article_list_likes'>
                                <%= image_tag "icon_red_heart.png"%>
                              </p>
                            <td>
                            <td class="article_list_likes">
                                <%= @hot_articles.first.likes.count %>
                            <td>
                          <tr>
                        </table>
                        </td>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="gap">
                </td>
                <td valign="top" class="hot_article">
                  <p class="hot_articles_picture"><%= image_tag @hot_articles.second.user.picture.url %></p>
                  <p class="hot_articles_title"><%= link_to @hot_articles.second.title, article_path(@hot_articles.second) %></p>
                  <table class="hot_article_info">
                    <tr>
                      <td>
                      <table>
                        <tr>
                          <td class="article_list_user">
                            <p class='article_list_user_picture'>
                              <%= link_to (image_tag(@hot_articles.second.user.picture.url)), user_path(@hot_articles.second.user) %>
                            </p>
                          <td>
                          <td class="article_list_username">
                            <%= link_to "@#{@hot_articles.second.user.username}", users_path(@hot_articles.second.user) %>
                          </td>
                        </tr>
                        </table>
                        </td>
                        <td>
                        </td>
                        <td>
                        <table class="hot_article_eval">
                          <tr>
                            <td class=article_list_comments>
                              <p class='article_list_comments'>
                                <%= image_tag "comment1.png" %>
                              </p>
                            <td>
                            <td class="article_list_comments">
                                <%= @hot_articles.second.article_comments.count %>
                            <td>
                            <td>
                              <p class='article_list_likes'>
                                <%= image_tag "icon_red_heart.png"%>
                              </p>
                            <td>
                            <td class="article_list_likes">
                                <%= @hot_articles.second.likes.count %>
                            <td>
                          <tr>
                        </table>
                        </td>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <% end %>
          <div id="article_list">
            <%= render "article_period" %>
              <% @articles.each do |article| %>
              <div id='article_list_bottom'>
               <h2>
                 <%= link_to article.title, article_path(article), { :class => "article_link" } %>
               </h2>
              <p class='article_list_date'>
                  <%= time_ago_in_words(article.updated_at) %>
              </p>
              <p class='article_list_category'>
                  <% article.tag_list.each do |f| %>
                  <%= link_to f, articles_path(category: f), { :class => "article_category" } %>
                  <% end %>
              </p>


                <table class="article_list_info">
                  <tr>
                  <td class="article_list_user">
                    <p class='article_list_user_picture'>
                      <%= link_to (image_tag(article.user.picture.url)), user_path(article.user) %>
                    </p>
                  <td>
                  <td class="article_list_username">
                    <%= link_to "@#{article.user.username}", users_path(article.user) %>
                  </td>
                  </tr>
                </table>
                <table class="article_list_eval">
                  <td class=article_list_comments>
                    <p class='article_list_comments'>
                      <%= image_tag "comment1.png" %>
                    </p>
                  <td>
                  <td class="article_list_comments">
                      <%= article.article_comments.count %>
                  <td>
                  <td>
                    <p class='article_list_likes'>
                      <%= image_tag "icon_red_heart.png"%>
                    </p>
                  <td>
                  <td class="article_list_likes">
                      <%= article.likes.count %>
                  <td>
                </table>
            </div>
              <% end %>
          </div>
        </td>
        <td valign="top" class="article_index_right">
          <div id="sidebar">
            <% if user_signed_in? %>
            <div id='sidebar_user_index'>
              <ul class="user_box">
                <li class="user_box_item"><p class='picture_current_user'><%= image_tag current_user.picture.url if current_user.picture.present? %></p></li>
                <li class="user_box_item">
                  <p class='sidebar_user_name'>
                    <%= link_to "@fawefawef", user_path(current_user) %>
                  <p class='sidebar_user_name'>
                    <strong><%= link_to "@#{current_user.username}", user_path(current_user) %></strong>
                  </p>
                </li>
              </ul>
            </div>
            <% end %>
            <% if @first_tag.present? %>
            <div id='sidebar_articles'>
              <!-- <strong><%= "##{@first_tag}" %></strong>
                <% @articles_tagged_with_first_tag.each do |article| %>
              <p class='sidebar_article_likes_order'>
                <%= link_to article.title, article_path(article), { :class => "article_link" }  %>
              </p>
                    <% end %>
            </div>
            <% end %>
            <% if @second_tag.present? %>
            <div id='sidebar_articles'>
              <strong><%= "##{@second_tag}" %></strong>
                <% @articles_tagged_with_second_tag.each do |article| %>
              <p class='sidebar_article_likes_order'>
                <%= link_to article.title, article_path(article), { :class => "article_link" }  %>
              </p>
                    <% end %>
            </div>
            <% end %>
            <% if @third_tag.present? %>
            <div id='sidebar_articles'>
              <strong><%= "##{@third_tag}" %></strong>
                <% @articles_tagged_with_third_tag.each do |article| %>
              <p class='sidebar_article_likes_order'>
                <%= link_to article.title, article_path(article), { :class => "article_link" }  %>
              </p>
                    <% end %>
            </div>
            <% end %>
            <% if @forth_tag.present? %>
            <div id='sidebar_articles'>
              <strong><%= "##{@forth_tag}" %></strong>
                <% @articles_tagged_with_forth_tag.each do |article| %>
              <p class='sidebar_article_likes_order'>
                <%= link_to article.title, article_path(article), { :class => "article_link" }  %>
              </p>
                    <% end %>
            </div>
            <% end %>
            <% if @fifth_tag.present? %>
            <div id='sidebar_articles'>
              <strong><%= "##{@fifth_tag}" %></strong>
                <% @articles_tagged_with_fifth_tag.each do |article| %>
              <p class='sidebar_article_likes_order'>
                <%= link_to article.title, article_path(article), { :class => "article_link" }  %>
              </p>
                    <% end %>
            </div>
            <% end %>
            <% if @sixth_tag.present? %>
            <div id='sidebar_articles'>
              <strong><%= "##{@sixth_tag}" %></strong>
                <% @articles_tagged_with_sixth_tag.each do |article| %>
              <p class='sidebar_article_likes_order'>
                <%= link_to article.title, article_path(article), { :class => "article_link" }  %>
              </p>
                    <% end %>
            </div>
            <% end %>
            <% if @seventh_tag.present? %>
            <div id='sidebar_articles'>
              <strong><%= "##{@seventh_tag}" %></strong>
                <% @articles_tagged_with_seventh_tag.each do |article| %>
              <p class='sidebar_article_likes_order'>
                <%= link_to article.title, article_path(article), { :class => "article_link" }  %>
              </p>
                    <% end %>
            </div> -->
            <% end %>
            <!-- <div id='sidebar_articles'>
                <% @articles_likes_order.each do |article| %>
              <p class='sidebar_article_likes_order'>
                <%= link_to article.title, article_path(article), { :class => "article_link" }  %>
                <%= image_tag("icon_red_heart.png") %>
                <font size="1"><%= article.likes_count %></font>
              </p>
                    <% end %>
            </div> -->
          </div>

        </td>
      </tr>
    </table>



<!--
    <div class="clear">
    </div>
</div>


</div> -->
