
    <table class="article_index_table">
      <tr>
      </td>
        <td valign="top" class="article_index_left">
          <% if params[:group] == "time_line" %>
          <% else %>
            <table class=each_hot_article>
              <tr>
                <td valign="top" class="hot_article">
                  <p class="hot_articles_picture"><%= image_tag @hot_articles.first.user.picture.url %></p>
                  <p class="hot_articles_title"><%= link_to @hot_articles.first.title, article_path(@hot_articles.first) %></p>
                  <table class="hot_article_info">
                    <tr>
                      <td>
                      <table>
                        <tr>
                          <td class="article_list_user">
                            <p class='article_list_user_picture'>
                              <%= link_to (image_tag(@hot_articles.first.user.picture.url)), user_path(@hot_articles.first.user) %>
                            </p>
                          <td>
                          <td class="article_list_username">
                            <%= link_to "@#{@hot_articles.first.user.username}", user_path(@hot_articles.first.user) %>
                          </td>
                        </tr>
                        </table>
                        </td>
                        <td>
                        </td>
                        <td>
                        <table class="hot_article_eval">
                          <tr>
                            <td class=article_list_comments>
                              <p class='article_list_comments'>
                                <%= image_tag "comment1.png" %>
                              </p>
                            <td>
                            <td class="article_list_comments">
                                <%= @hot_articles.first.article_comments.count %>
                            <td>
                            <td>
                              <p class='article_list_likes'>
                                <%= image_tag "icon_red_heart.png"%>
                              </p>
                            <td>
                            <td class="article_list_likes">
                                <%= @hot_articles.first.likes.count %>
                            <td>
                          <tr>
                        </table>
                        </td>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="gap">
                </td>
                <td valign="top" class="hot_article">
                  <p class="hot_articles_picture"><%= image_tag @hot_articles.second.user.picture.url %></p>
                  <p class="hot_articles_title"><%= link_to @hot_articles.second.title, article_path(@hot_articles.second) %></p>
                  <table class="hot_article_info">
                    <tr>
                      <td>
                      <table>
                        <tr>
                          <td class="article_list_user">
                            <p class='article_list_user_picture'>
                              <%= link_to (image_tag(@hot_articles.second.user.picture.url)), user_path(@hot_articles.second.user) %>
                            </p>
                          <td>
                          <td class="article_list_username">
                            <%= link_to "@#{@hot_articles.second.user.username}", user_path(@hot_articles.second.user) %>
                          </td>
                        </tr>
                        </table>
                        </td>
                        <td>
                        </td>
                        <td>
                        <table class="hot_article_eval">
                          <tr>
                            <td class=article_list_comments>
                              <p class='article_list_comments'>
                                <%= image_tag "comment1.png" %>
                              </p>
                            <td>
                            <td class="article_list_comments">
                                <%= @hot_articles.second.article_comments.count %>
                            <td>
                            <td>
                              <p class='article_list_likes'>
                                <%= image_tag "icon_red_heart.png"%>
                              </p>
                            <td>
                            <td class="article_list_likes">
                                <%= @hot_articles.second.likes.count %>
                            <td>
                          <tr>
                        </table>
                        </td>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <% end %>
          <div id="article_list">
            <%= render "article_group" %>
              <% @articles.each do |article| %>
              <div id='article_list_bottom'>
               <h2>
                 <%= link_to article.title, article_path(article), { :class => "article_link" } %>
               </h2>
              <p class='article_list_date'>
                  <%= time_ago_in_words(article.updated_at) %>
              </p>
              <p class='article_list_category'>
                <% article_tags(article).each do |tag| %>
                  <%= link_to "##{tag}", searches_path(tag: tag), { :class => "article_category" } %>
                <% end %>
              </p>


                <table class="article_list_info">
                  <tr>
                  <td class="article_list_user">
                    <p class='article_list_user_picture'>
                      <%= link_to (image_tag(article.user.picture.url)), user_path(article.user) %>
                    </p>
                  <td>
                  <td class="article_list_username">
                    <%= link_to "@#{article.user.username}", user_path(article.user) %>
                  </td>
                  </tr>
                </table>
                <table class="article_list_eval">
                  <td class=article_list_comments>
                    <p class='article_list_comments'>
                      <%= image_tag "comment1.png" %>
                    </p>
                  <td>
                  <td class="article_list_comments">
                      <%= article.article_comments.count %>
                  <td>
                  <td>
                    <p class='article_list_likes'>
                      <%= image_tag "icon_red_heart.png"%>
                    </p>
                  <td>
                  <td class="article_list_likes">
                      <%= article.likes.count %>
                  <td>
                </table>
            </div>
              <% end %>
          </div>
        </td>
        <td valign="top" class="article_index_right">
          <div id="sidebar">
            <% if user_signed_in? %>
            <div id='sidebar_user_index'>
              <ul class="user_box">
                <li class="user_box_item">
                  <p class='picture_current_user'>
                    <%= image_tag current_user.picture.url if current_user.picture.present? %>
                    <%= image_tag "profile.png" if current_user.picture.blank? %>
                  </p>
                </li>
                <li class="user_box_item">
                  <p class='sidebar_user_name'>
                    <%= link_to "@fawefawef", user_path(current_user) %>
                  <p class='sidebar_user_name'>
                    <strong><%= link_to "@#{current_user.username}", user_path(current_user) %></strong>
                  </p>
                </li>
              </ul>
            </div>
            <% end %>
            <% if user_signed_in? %>
            <div id='sidebar_articles_index'>
              <p class="tags_title">フォロー中のタグ</p>
              <% following_tags(current_user).each do |following_tag| %>
              <p class="sidebar_tags"><%= link_to "##{following_tag.name}", searches_path(tag: following_tag.name) %></p>
              <% end %>
              <p class="tags_title">人気のタグ</p>
              <% tags_sorted_desc.each do |popular_tag| %>
              <p class="sidebar_tags"><%= link_to "##{popular_tag.name}", searches_path(tag: popular_tag.name) %></p>
              <% end %>
            </div>
            <% end %>
              <table class="popular_user">
              <% popular_users.each do |user| %>
                <tr>
                  <td valign="top" class="popular_user_picture">
                    <p class="popular_user"><%= image_tag user.first.picture.url if user.first.picture.present?%></p>
                  </td>
                  <td valign="top" class="popular_user_main_element">
                    <p class="popular_user"><%= link_to user.first.username, user_path(user.first) %></p>
                    <p class="popular_user"><%= link_to "@#{user.first.username}", user_path(user.first) %></p>
                  </td>
                </tr>
              <% end %>
              </table>

        </td>
      </tr>
    </table>
