
    <table class="article_index_table">
      <tr>
      </td>
        <td valign="top" class="article_index_left">

          <% if user_signed_in? %>
          <% else %>
                <div id="sign_up_form">
                  <p class="service_description">プレポは、エンジニアリングに特化したオープンソース推奨のプレスリリースサービスです。<br/>
                        あなたが作ったサービスをオープンソースでプレスリリースして、他のプログラマーと情報を共有しましょう！
                  </p>

                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>


                    <div class="field">
                      <%= f.text_field :profile_id, autofocus: true, autocomplete: "username", placeholder: "ユーザーID", class: "sign_up_form"  %>
                    </div>

                    <div class="field">
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "sign_up_form" %>

                    </div>

                    <div class="field">
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %>
                      <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class: "sign_up_form" %>

                    </div>

                    <div class="field">
                      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード確認用", class: "sign_up_form" %>
                    </div>

                    <div class="sign_up_submit">
                      <%= f.submit "プレスリリースを始める", :class => "sign_up_submit" %>
                    </div>
                    <p class="omniauth_description">外部アカウントで登録する</p>
                    <%- if devise_mapping.omniauthable? %>
                      <%- resource_class.omniauth_providers.each do |provider| %>
                      <p>
                        <table class="omniauth_links">
                          <tr>
                          <%- resource_class.omniauth_providers.each do |provider| %>
                              <td>
                                <%= link_to image_tag("github.png"), omniauth_authorize_path(resource_name, provider) , { :class => "sign_omniauth_button" } %>
                              </td>
                          <% end -%>
                        </tr>
                        </table>
                      </p>
                      <% end -%>
                    <% end -%>
                  <% end %>
                </div>
          <% end %>

          <% @hot_articles.each do |hot_article| %>
          <% if hot_article.present? %>
          <%= link_to article_path(id: hot_article.id) do %>
          <div id="hot_article_1">
          <p class="hot_articles_picture">
            <% if hot_article.picture.first.present? %>
            <%= image_tag hot_article.picture.first.url %>
            <% else %>
            <%= image_tag "profile.png" %>
            <% end %>
          </p>
          <p class="hot_articles_title"><object><%= link_to hot_article.title, article_path(id: hot_article.id) %></object></p>
          <table class="hot_article_info">
            <tr>
              <td>
              <table>
                <tr>
                  <td class="article_list_user">
                    <p class='article_list_user_picture'>
                      <object>
                        <% if hot_article.user.picture.present? %>
                        <%= link_to (image_tag(hot_article.user.picture.url)), user_path(hot_article.user) %>
                        <% else %>
                        <%= link_to (image_tag("profile.png")), user_path(hot_article.user) %>
                        <% end %>
                      </object>
                    </p>
                  <td>
                  <td class="article_list_username">
                    <object><%= link_to "#{hot_article.user.username}", user_path(hot_article.user) %></object>
                  </td>
                </tr>
                </table>
                </td>
                <td>
                </td>
                <td>
                <table class="hot_article_eval">
                  <tr>
                    <td class=article_list_comments>
                      <p class='article_list_comments'>
                        <%= image_tag "comment1.png" %>
                      </p>
                    <td>
                    <td class="article_list_comments">
                        <%= hot_article.article_comments.count %>
                    <td>
                    <td>
                      <p class='article_list_likes'>
                        <%= image_tag "create_like.png"%>
                      </p>
                    <td>
                    <td class="article_list_likes">
                        <%= hot_article.likes.count %>
                    <td>
                  <tr>
                </table>
                </td>
              </td>
            </tr>
          </table>
          </div>
          <% end %>
          <% end %>
          <% end %>

          <% if params[:group] == "time_line" %>
          <% else %>
            <table class=each_hot_article>
              <tr>
                <% @hot_articles.each do |hot_article| %>
                <% if hot_article.present? %>
                <td valign="top" class="hot_article_1">
                  <%= link_to article_path(id: hot_article.id) do %>
                  <div>
                  <p class="hot_articles_picture">
                    <% if hot_article.picture.first.present? %>
                    <%= image_tag hot_article.picture.first.url %>
                    <% else %>
                    <%= image_tag "profile.png" %>
                    <% end %>
                  </p>
                  <p class="hot_articles_title"><object><%= link_to hot_article.title, article_path(id: hot_article.id) %></object></p>
                  <table class="hot_article_info">
                    <tr>
                      <td>
                      <table>
                        <tr>
                          <td class="article_list_user">
                            <p class='article_list_user_picture'>
                              <object>
                                <% if hot_article.user.picture.present? %>
                                <%= link_to (image_tag(hot_article.user.picture.url)), user_path(hot_article.user) %>
                                <% else %>
                                <%= link_to (image_tag("profile.png")), user_path(hot_article.user) %>
                                <% end %>
                              </object>
                            </p>
                          <td>
                          <td class="article_list_username">
                            <object><%= link_to "#{hot_article.user.username}", user_path(hot_article.user) %></object>
                          </td>
                        </tr>
                        </table>
                        </td>
                        <td>
                        </td>
                        <td>
                        <table class="hot_article_eval">
                          <tr>
                            <td class=article_list_comments>
                              <p class='article_list_comments'>
                                <%= image_tag "comment1.png" %>
                              </p>
                            <td>
                            <td class="article_list_comments">
                                <%= hot_article.article_comments.count %>
                            <td>
                            <td>
                              <p class='article_list_likes'>
                                <%= image_tag "create_like.png"%>
                              </p>
                            <td>
                            <td class="article_list_likes">
                                <%= hot_article.likes.count %>
                            <td>
                          <tr>
                        </table>
                        </td>
                      </td>
                    </tr>
                  </table>
                </div>
                <% end %>
                </td>
                <% end %>
                <% end %>
              </tr>
            </table>
            <% end %>
          <div id="article_list">
              <%= render "article_group" %>
              <% @articles.each do |article| %>
              <%= link_to article_path(article) do %>
              <div id='article_list_bottom'>
                <table class="article_list_top_table">
                  <tr>
                    <td>
                     <h2>
                       <object><%= link_to article.title, article_path(article), { :class => "article_link" } %></object>
                     </h2>
                   </td>
                 </tr>
               </table>
              <p class='article_list_category'>
                <% article_tags(article).each do |tag| %>
                  <object><%= link_to "##{tag}", searches_path(tag: tag), { :class => "article_list_tag" } %></object>
                <% end %>
                <% if article.repository_url.present? %>
                <object><%= link_to "#オープンソース", searches_path(status: "オープンソース"), { :class => "special_tag" }%></object>
                <% end %>
              </p>


                <table class="article_list_info">
                  <tr>
                  <td class="article_list_user">
                    <p class='article_list_user_picture'>
                      <object>
                        <% if article.user.picture.present? %>
                        <%= link_to (image_tag(article.user.picture.url)), user_path(article.user) %>
                        <% else %>
                        <%= link_to (image_tag("profile.png")), user_path(article.user) %>
                        <% end %>
                      </object>
                    </p>
                  <td>
                  <td class="article_list_username">
                    <object><%= link_to "#{article.user.username}", user_path(article.user) %></object>
                  </td>
                  </tr>
                </table>
                <table>
                <tr>
                <td class=article_list_comments>
                  <p class='article_list_comments'>
                    <%= image_tag "comment1.png" %>
                  </p>
                <td>
                <td class="article_list_comments">
                    <%= article.article_comments.count %>
                <td>
                <td>
                  <p class='article_list_likes'>
                    <%= image_tag "create_like.png"%>
                  </p>
                <td>
                <td class="article_list_likes">
                    <%= article.likes.count %>
                <td>
                <td class="article_list_username">
                  <p class='article_list_date'>
                      <%= time_ago_in_words(article.created_at) %>
                  </p>
                </td>
                </tr>
              </table>
            </div>
            <% end %>
              <% end %>
          </div>
        </td>
        <td valign="top" class="article_index_right">
          <div id="sidebar">
            <% if user_signed_in? %>
              <%= render 'articles/current_user_sidebar' %>
            <% end %>
            <% if user_signed_in? %>

            <% if following_tags(current_user).present? %>
            <div id='sidebar_articles_index'>
              <p class="tags_title">フォロー中のタグ</p>
              <% following_tags(current_user).limit(5).each do |following_tag| %>
              <p class="sidebar_tags"><%= link_to "##{following_tag.name}", searches_path(tag: following_tag.name), {:class => "article_tag"} %></p>
              <% end %>
            </div>
            <% end %>
            <% if tags_sorted_desc.present? %>
            <div id='sidebar_articles_index'>
              <p class="tags_title">人気のタグ</p>
              <% tags_sorted_desc.each do |popular_tag| %>
              <p class="sidebar_tags"><%= link_to "##{popular_tag.name}", searches_path(tag: popular_tag.name), {:class => "article_tag"} %></p>
              <% end %>
            </div>
            <% end %>
            <% end %>
              <table class="popular_user">
                <tr>
                  <td colspan="2">
                    <p class="user_title">ホットなユーザー</p>
                  </td>
                </tr>
              <% popular_users.each do |user| %>
                <tr>
                  <td valign="top" class="popular_user_picture" valign="top">
                    <p class="popular_user">
                      <% if user.first.picture.present? %>
                      <%= link_to image_tag(user.first.picture.url), user_path(user) %>
                      <% else %>
                      <%= link_to image_tag("profile.png"), user_path(user) %>
                      <% end %>
                  </p>
                  </td>
                  <td valign="top" class="popular_user_main_element" valign="top">
                    <p class="popular_user"><strong><%= link_to user.first.username, user_path(user.first) %></strong></p>
                    <p class="popular_user"><%= link_to "@#{user.first.profile_id}", user_path(user.first) %></p>
                  </td>
                </tr>
              <% end %>
              </table>

              <% if @hot_tags.count < 3 %>
                <% @hot_tags.each do |tag| %>
                <div id='sidebar_articles_index'>
                  <p class="tags_title"><%= link_to "##{tag.first}", searches_path(tag: tag.first), {:class => "article_tag"} %></p>
                  <% tag_articles_ranking(tag.first).each do |article| %>
                  <li class="hot_tag_articles"><%= link_to article.title, article_path(article) %></li>
                  <% end %>
                </div>
                <% end %>

                <% else %>

                <% random_tags.each do |tag| %>
                <div id='sidebar_articles_index'>
                  <p class="tags_title"><%= link_to "##{tag}", searches_path(tag: tag), {:class => "article_tag"} %></p>
                  <% tag_articles_ranking(tag).each do |article| %>
                  <li class="hot_tag_articles"><%= link_to article.title, article_path(article) %></li>
                  <% end %>
                </div>
                <% end %>
              </div>

              <% end %>



        </td>
      </tr>
    </table>
