<div id='index_show_main'>
<div id="article_wrap">
  <div id='article_left_test'>
    <%= link_to image_tag("article_memo.png"), new_article_article_memo_path(article_id: @article.id) , { :class => "left_sidebar_button" } %>
    <%= link_to image_tag("article_memo.png"), new_article_article_memo_path(article_id: @article.id) , { :class => "left_sidebar_button" } %>
    <%= link_to image_tag("article_memo.png"), new_article_article_memo_path(article_id: @article.id) , { :class => "left_sidebar_button" } %>
  </div>

  <div id='article_left'>
    <div id="article_show">
      <p class='article_show_date'>
        <%= @article.updated_at.strftime("%Y/%m/%d") %>
      </p>
      <h2>
        <a>
          <%= @article.title %>
        </a>
      </h2>
        <p class='article_show_category'>
          <% @article.tag_list.each do |f| %>
          <%= link_to f, articles_path(category: f), { :class => "article_category" } %>
          <% end %>
        </p>
        <!-- <p>
          <%= render partial: 'likes/like', locals: { article: @article, likes: @like } %></br>
        </p> -->
        <div id="all_body">
          <%= markdown(@article.body) %>
        </div>
      </div>

        <p class="comment">Comments</p>
        <% if  @article.article_comments.any? %>
          <ul>
            <% @article.article_comments.each do |comment| %>
            <div id='article_show_comment'>
              <li class="comment_box">
                <table>
                  <tr>
                    <td><p class="article_list_user"><%= image_tag comment_user(comment).picture.url %></p></td>
                    <td><strong>@<%= comment_user(comment).username %></strong></td>
                  </tr>
                </table>
                <%= markdown(comment.body) %>
                <% if user_signed_in? %>
                  <% if @article.user == current_user %>
                    <%= link_to '[x]',
                            article_article_comment_path(@article, comment),
                            method: :delete,
                            class: 'command',
                                data: { confirm: 'Sure?' }%>
                  <% end %>
                <% end %>
              </li>
            </div>
                <% end %>
            </ul>
          <% end %>

        <% if user_signed_in? %>
          <div id='article_show_comment_form'>
            <%= form_for ([@article, @article.article_comments.build]) do |f| %>
              <p>
                <%= f.text_area :body, class: "article_comment_form" %>
              </p>
              <p>
                <%= f.submit %>
              </p>
            <% end %>
          </div>
        <% end %>
      </div>


      <div id="sidebar">
        <div id='sidebar_user_index'>
          <ul class="user_box">
            <li class="user_box_item">
              <p class='picture_current_user'>
                <%= image_tag @article.user.picture.url if @article.user.picture.present? %>
              </p>
            </li>
            <li class="user_box_item">
              <p class='sidebar_user_name'>
                <strong>
                  <%= link_to "@#{@article.user.username}", user_path(@article.user) %>
                </strong>
              </p>
            </li>
          </ul>
        </div>
        <div id="sidebar_article_memo">
          <p class="article_all_memos">
            <%= link_to "memo", article_article_memos_path(article_id: @article.id) %>
          </p>
          <% @article.article_memos.limit(7).each do |memo| %>
            <ul>
              <p class='article_memo'>
                <%= link_to memo.title, article_article_memo_path(memo) %>
              </p>
            </ul>
          <% end %>
        </div>

</div>


      </div>

      <div class="clear">
      </div>
<div>
