<table class=article_show_table>
  <tr>
      <td valign="top" class="article_show_left">
        <div id="article_show_left">
          <div id='article_left_buttons'>
            <div class="eval_mobile">
              <div id="likes_buttons_<%= @article.id %>">
               <%= render partial: 'likes/like', locals: { article: @article, likes: @likes} %>
              </div>
            </div>
            <p class="eval_mobile">
              <%= link_to image_tag("article_memo_3.png"), new_article_article_memo_path(article_id: @article.id) , { :class => "left_sidebar_button" } %>
            </p>
            <div class="eval_mobile">
              <div id="stocks_buttons_<%= @article.id %>">
               <%= render partial: 'stocks/stock', locals: { article: @article, likes: @stocks} %>
              </div>
            </div>
            <p class="eval_none">
              <a href="https://twitter.com/share?url=<%= request.url %>&text=<%=@article.title %>" rel="nofollow" target="_blank" class="twitter_button"><%= image_tag "twitter.png" %></a>
            </p>
            <p class="eval_none">
              <a href="https://www.facebook.com/share.php?url=<%= request.url %>" rel="nofollow" target="_blank" class="social_button"><%= image_tag "facebook.png" %></a>
            </p>
          </div>
        </div>
      </td>
      <td valign="top" class="article_show_center">
        <div id="article_show_center">
          <p class="article_show_center_header">
            <%= image_tag @article.picture.first.url if @article.picture.first.present? %>
          </p>
          <p class='article_show_center_date'>
            <%= @article.updated_at.strftime("%Y/%m/%d") %>
          </p>
          <p class="article_show_center_title">
            <%= @article.title %>
          </p>
            <p class='article_show_center_category'>
              <% @article.tag_list.each do |tag| %>
              <%= link_to "##{tag}", searches_path(tag: tag), { :class => "article_list_tag" } %>
              <% end %>
            </p>
            <div id="article_show_center_all_body">
              <%= raw add_id_and_class_to_markdown(markdown(@article.body)) %>
            </div>

        </div>
      </td>
      <td valign="top" class="article_show_right">
        <div id="article_show_right">
            <div id="sidebar_user_index">
            <table class="sidebar_user_index">
              <tr>
              <td>
                <p class='article_user_picture'>
                  <% if @article.user.picture.present? %>
                  <%= link_to image_tag(@article.user.picture.url), user_path(@article.user) %>
                  <% else %>
                  <%= link_to image_tag("profile.png"), user_path(@article.user) %>
                  <% end %>
                </p>
              </td>
              </tr>
              <tr>
              <td>
                <strong>
                  <%= link_to "#{@article.user.username}", user_path(@article.user) %>
                </strong>
                <% if user_signed_in? %>
                  <div id="article_user_follow_form">
                    <%= render 'users/follow_form' %>
                  </div>
                <% end %>
              </td>
              </tr>
              <tr>
              <td class="article_user_description">
                <%= @article.user.description %>
              </td>
              </tr>
          </table>

          </div>
          <div id="sidebar_following_scroll">
            <% if @toc.present? %>
            <div id="sidebar_article_toc">
              <%= raw @toc %>
            </div>
            <% end %>
            <% if @article.article_memos.present? %>
            <div id="sidebar_article_memo">
              <% public_article_memo(@article, 7).each do |memo| %>
                <ul>
                  <li class="user_article_memo"><%= link_to memo.title, user_article_memo_path(id: memo.id, user_id: @user.id) %></li>
                </ul>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="article_comment_side_left"></td>
      <td>

        <% if @other_articles.present? %>
        <table class=each_other_article>
          <tr>
            <% if @other_articles.first.present? %>
            <td valign="top" class="other_article">
              <%= link_to article_path(id: @other_articles.first.id) do %>
              <div>
              <p class="other_articles_picture">
                <% if @other_articles.first.picture.first.present? %>
                <%= image_tag @other_articles.first.picture.first.url %>
                <% else %>
                <%= image_tag "profile.png" %>
                <% end %>
              </p>
              <p class="other_articles_title"><object><%= link_to @other_articles.first.title, article_path(id: @other_articles.first) %></object></p>
              <table class="other_article_info">
                <tr>
                    <td>
                    </td>
                    <td>
                    <table class="other_article_eval">
                      <tr>
                        <td class=article_list_comments>
                          <p class='article_list_comments'>
                            <%= image_tag "comment1.png" %>
                          </p>
                        <td>
                        <td class="article_list_comments">
                            <%= @other_articles.first.article_comments.count %>
                        <td>
                        <td>
                          <p class='article_list_likes'>
                            <%= image_tag "create_like.png"%>
                          </p>
                        <td>
                        <td class="article_list_likes">
                            <%= @other_articles.first.likes.count %>
                        <td>
                      <tr>
                    </table>
                    </td>
                  </td>
                </tr>
              </table>
            </div>
            <% end %>
            </td>
            <% end %>
            <td class="gap">
            </td>
            <% if @other_articles.second.present? %>
            <td valign="top" class="other_article">
              <%= link_to article_path(id: @other_articles.second.id) do %>
              <div>
              <p class="other_articles_picture">
                <% if @other_articles.second.picture.first.present? %>
                <%= image_tag @other_articles.second.picture.first.url %>
                <% else %>
                <%= image_tag "profile.png" %>
                <% end %>
              </p>
              <p class="other_articles_title"><object><%= link_to @other_articles.second.title, article_path(id: @other_articles.second) %></object></p>
              <table class="other_article_info">
                <tr>
                    <td>
                    </td>
                    <td>
                    <table class="other_article_eval">
                      <tr>
                        <td class=article_list_comments>
                          <p class='article_list_comments'>
                            <%= image_tag "comment1.png" %>
                          </p>
                        <td>
                        <td class="article_list_comments">
                            <%= @other_articles.second.article_comments.count %>
                        <td>
                        <td>
                          <p class='article_list_likes'>
                            <%= image_tag "create_like.png"%>
                          </p>
                        <td>
                        <td class="article_list_likes">
                            <%= @other_articles.second.likes.count %>
                        <td>
                      <tr>
                    </table>
                    </td>
                  </td>
                </tr>
              </table>
            </div>
            <% end %>
            </td>
            <% end %>
            <td class="gap">
            </td>
            <% if @other_articles.third.present? %>
            <td valign="top" class="other_article">
              <div>
              <%= link_to article_path(id: @other_articles.third.id) do %>

              <p class="other_articles_picture">
                <% if @other_articles.third.picture.first.present? %>
                <%= image_tag @other_articles.third.picture.first.url %>
                <% else %>
                <%= image_tag "profile.png" %>
                <% end %>
              </p>
              <p class="other_articles_title"><object><%= link_to @other_articles.third.title, article_path(id: @other_articles.third) %></object></p>
                    <table class="other_article_eval">
                      <tr>
                        <td class=article_list_comments>
                          <p class='article_list_comments'>
                            <%= image_tag "comment1.png" %>
                          </p>
                        <td>
                        <td class="article_list_comments">
                            <%= @other_articles.third.article_comments.count %>
                        <td>
                        <td>
                          <p class='article_list_likes'>
                            <%= image_tag "create_like.png"%>
                          </p>
                        <td>
                        <td class="article_list_likes">
                            <%= @other_articles.third.likes.count %>
                        <td>
                      <tr>
                    </table>
            <% end %>
                </div>
            </td>
            <% end %>
          </tr>
        </table>
        <% end %>

        <div id="user_info_mobile">
          <table class="sidebar_user_index">
            <tr>
            <td>
              <p class='article_user_picture'>
                <% if @article.user.picture.present? %>
                <%= link_to image_tag(@article.user.picture.url), user_path(@article.user) %>
                <% else %>
                <%= link_to image_tag("profile.png"), user_path(@article.user) %>
                <% end %>
              </p>
            </td>
            </tr>
            <tr>
            <td>
              <strong>
                <%= link_to "#{@article.user.username}", user_path(@article.user) %>
              </strong>
              <% if user_signed_in? %>
              <% end %>
            </td>
            </tr>
            <tr>
            <td class="article_user_description">
              <%= @article.user.description %>
            </td>
            </tr>
        </table>
      </div>

        <div id="article_memos">
          <p class="article_show_title">公開されているメモ</p>
          <% if @article.article_memos.present? %>
          <% @article.article_memos.limit(5).each do |memo| %>
          <li><%= link_to memo.title, user_article_memo_path(id: memo.id, user_id: @user.id) %></li>
          <% end %>
          <% else %>
          <p>公開れているメモはありません</p>
          <% end %>
        </div>

        <div id="related_articles">
          <p class="article_show_title">関連記事</p>
          <% if related_articles(@article).present? %>
          <% related_articles(@article).each do |article| %>
          <li><%= link_to article.title, article_path(article) %></li>
          <% end %>
          <% else %>
          <p>関連する記事はありません</p>
          <% end %>
        </div>
        <% if  @article.article_comments.any? %>

            <% @article.article_comments.each do |comment| %>
            <div id='article_show_comment'>
              <li class="comment_box">
                <table>
                  <tr>
                    <td valign="top" class="popular_user_picture">
                      <p class="comment_user"><%= image_tag comment_user(comment).picture.url %></p>
                    </td>
                    <td valign="top" class="popular_user_main_element">
                      <p class="comment_user"><strong><%= link_to comment_user(comment).username, user_path(comment_user(comment)) %></strong></p>
                      <p class="comment_user"><%= link_to "@#{comment_user(comment).profile_id}", user_path(comment_user(comment)) %></p>
                    </td>
                  </tr>
                </table>
                <%= markdown(comment.body) %>
                <% if user_signed_in? %>
                <div id="article_comment_button">
                  <% if @article.user == current_user %>
                    <%= link_to '削除する',
                            article_article_comment_path(@article, comment),
                            method: :delete,
                            class: 'article_comment_delete',
                                data: { confirm: "削除してもよろしいですか？" }%>
                  </div>
                  <% end %>
                <% end %>
              </li>
            </div>
                <% end %>
            </ul>
          <% end %>
          <% if user_signed_in? %>
            <div id="comment_editor">
              <ul class="tab">
                <li class="select">編集</li>
                <li>プレビュー</li>
              </ul>
              <ul class="content">
                  <li>
                    <div id='article_show_comment_form'>
                      <%= form_for ([@article, @article.article_comments.build]) do |f| %>
                        <%= f.text_area :body, "v-model" => "input", "debouce" => "300", :placeholder => "body", :class => "article_comment_form" %>
                    </div>
                  </li>
                  <li class="hide"><div v-html="input | marked", id="comment_preview"></div></li>
                </ul>
                <p class="article_comment_submit">
                  <%= f.submit 'コメントする', :class => "article_comment_submit" %>
                </p>
                <% end %>
            </div>
            <% end %>

      </td>
      <td class="article_comment_side_right"></td>
    </tr>
  </table>
