<table class=article_show_table>
  <tr>
      <td valign="top" class="article_show_left">
        <div id="article_show_left">
          <div id='article_left_buttons'>
            <div id="likes_buttons_<%= @article.id %>">
             <%= render partial: 'likes/like', locals: { article: @article, likes: @likes} %>
            </div>
            <%= link_to image_tag("article_memo_2.png"), new_article_article_memo_path(article_id: @article.id) , { :class => "left_sidebar_button" } %>
            <a href="https://twitter.com/share?url=<%= request.url %>&text=<%=@article.title %>" rel="nofollow" target="_blank" class="left_sidebar_button"><%= image_tag "twitter.png" %></a>
            <%= link_to image_tag("article_memo.png"), new_article_article_memo_path(article_id: @article.id) , { :class => "left_sidebar_button" } %>
            <%= link_to image_tag("article_memo.png"), new_article_article_memo_path(article_id: @article.id) , { :class => "left_sidebar_button" } %>
          </div>
        </div>
      </td>
      <td valign="top" class="article_show_center">
        <div id="article_show_center">
          <p class="article_show_center_header">
            <%= image_tag @article.user.picture.url %>
          </p>
          <p class='article_show_center_date'>
            <%= @article.updated_at.strftime("%Y/%m/%d") %>
          </p>
          <p class="article_show_center_title">
            <%= @article.title %>
          </p>
            <p class='article_show_center_category'>
              <% @article.tag_list.each do |f| %>
              <%= link_to f, articles_path(category: f), { :class => "article_category" } %>
              <% end %>
            </p>
            <div id="article_show_center_all_body">
              <%= raw add_id_to_markdown(markdown(@article.body)) %>
            </div>

        </div>
      </td>
      <td valign="top" class="article_show_right">
        <div id="article_show_right">
          <div id='sidebar_user_index'>
            <ul class="user_box">
              <li class="user_box_item">
                <p class='picture_current_user'>
                  <%= image_tag @article.user.picture.url if @article.user.picture.present? %>
                </p>
              </li>
              <li class="user_box_item">
                <p class='sidebar_user_name'>
                  <strong>
                    <%= link_to "@#{@article.user.username}", user_path(@article.user) %>
                  </strong>
                </p>
              </li>
            </ul>
          </div>
          <div id="sidebar_following_scroll">
            <div id="sidebar_article_toc">
              <%= raw @toc %>
            </div>
            <div id="sidebar_article_memo">
              <% @article.article_memos.limit(7).each do |memo| %>
                <ul>
                  <p class='article_memo'>
                    <%= link_to memo.title, article_article_memo_path(article_id: @article.id, id: memo.id) %>
                  </p>
                </ul>
              <% end %>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <p class="comment">Comments</p>

        <% if  @article.article_comments.any? %>

            <% @article.article_comments.each do |comment| %>
            <div id='article_show_comment'>
              <li class="comment_box">
                <table class="article_comment_user">
                  <tr>
                    <td class="article_comment_picture"><%= image_tag comment_user(comment).picture.url %></td>
                    <td class="article_comment_username"><strong>@<%= comment_user(comment).username %></strong></td>
                  </tr>
                </table>
                <%= markdown(comment.body) %>
                <% if user_signed_in? %>
                <div id="article_comment_button">
                  <% if @article.user == current_user %>
                    <%= link_to '削除する',
                            article_article_comment_path(@article, comment),
                            method: :delete,
                            class: 'article_comment_delete',
                                data: { confirm: 'Sure?' }%>
                  </div>
                  <% end %>
                <% end %>
              </li>
            </div>
                <% end %>
            </ul>
          <% end %>

        <% if user_signed_in? %>


          <div id='article_show_comment_form'>
            <%= form_for ([@article, @article.article_comments.build]) do |f| %>
              <p>
                <div id="comment_editor">
                  <p class="comment_preview">Preview</p>
                  <div v-html="input | marked", id="comment_preview"></div>
                  <%= f.text_area :body, "v-model" => "input", "debouce" => "300", :placeholder => "body", :class => "article_comment_form" %>
                </div>
              </p>
              <p class="article_comment_submit">
                <%= f.submit 'コメントする', :class => "article_comment_submit" %>
              </p>
            <% end %>
          </div>
        <% end %>
      </td>
      <td></td>
    </tr>


  </table>


  <div class="clear">
  </div>
