<div id="setting_links_mobile">
<%= render :partial => 'devise/registrations/links' %>
</div>
<table class="user_setting_table">
  <tr>
    <td valign="top" class="user_setting_sidebar">
      <div id="user_setting_sidebar">
        <%= render :partial => 'devise/registrations/links' %>
      </div>
    </td>
    <td class="gap_mobile">
    </td>
    <td valign="top" class="user_setting_main">
      <div class="all_notifications">
        <p class="margin-left-20px"><strong>お知らせ</strong></p>
        <div id="notifications_list">
          <% if @notifications.present? %>
            <% @notifications.each do |notification| %>
            <div id='notification_list_bottoom'>
               <% if notification.notified_type == "like" %>
               <%= link_to notified_by(notification).username, user_path(notified_by(notification))%>が<%= link_to "あなたの投稿「#{Article.find(notification.action_id).title}」", article_path(notification.action_id) %>にいいねしました。

               <% elsif notification.notified_type == "comment" %>
               が<%= link_to notified_by(notification).username, user_path(notified_by(notification))%>
               <%= link_to "あなたの投稿「#{Article.find(notification.action_id).title}」", article_path(notification.action_id) %>にコメントしました。
               <% elsif notification.notified_type == "follow" %>
               <%= link_to notified_by(notification).username, user_path(notified_by(notification))%>があなたをフォローしました。
               <% end %>
            <p class='notification_list_date'>
                <%= notification.created_at.strftime("%Y/%m/%d") %>
            </p>
            </div>
            <% end %>
            <% else %>
            お知らせはありません。
            <% end %>
        </div>

      </td>
    </tr>
  </table>
