<% if @users.any? %>

<% @users.each do |user| %>
<%= link_to user_path(user) do %>
  <table class="following_user">
    <tr>
      <td valign="top" class="following_user_picture">
        <p class="following_user">
          <% if user.picture.present? %>
          <object><%= link_to image_tag(user.picture.url), user_path(user) %></object>
          <% else %>
          <object><%= link_to image_tag("profile.png"), user_path(user) %></object>
          <% end %>
        </p>
      </td>
      <td valign="top" class="following_user_main_element">
        <p class="following_user"><strong><object><%= link_to user.username, user_path(user) %></object></strong></p>
        <p class="following_user"><object><%= link_to "@#{user.profile_id}", user_path(user) %></object></p>
      </td>
    </tr>
  </table>
  <% end %>
<% end %>


<% else %>

<table class="following_user">
  <tr>
    <td>
      <p class="no_followers"><%= @nobody %></p>
    </td>
  </tr>
</table>

<% end %>
