<% if @users.any? %>

<% @users.each do |user| %>
  <table class="following_user">
    <tr>
      <td valign="top" class="following_user_picture">
        <p class="following_user">
           <% if user.picture.present? %>
          <%= image_tag user.picture.url %>
          <% else %>
          <%= image_tag "profile.png" %>
          <% end %>
        </p>
      </td>
      <td valign="top" class="following_user_main_element">
        <p class="following_user"><strong><%= link_to user.username, user_path(user) %></strong></p>
        <p class="following_user"><%= link_to "@#{user.profile_id}", user_path(user) %></p>
      </td>
    </tr>
  </table>
<% end %>


<% else %>

<table class="following_user">
  <tr>
    <td>
      <p class="no_followers"><%= @nobody %></p>
    </td>
  </tr>
</table>

<% end %>
