

  <table class="user_show_table">
  <tr>
    <td valign="top" class="user_show_profile" colspan="3">
      <div id='sidebar_user_show'>
          <p class='picture_user_show'>
            <% if @user.picture.present? %>
            <%= link_to image_tag(@user.picture.url), user_path(@user) %>
            <% else %>
            <%= image_tag "profile.png" %>
            <% end %>
          </p>
          <p class="user_show_username">
          <%= link_to "#{@user.username}", user_path(@user) %>
          </p>
          <p class="user_show_profile_id">
            <%= link_to "@#{@user.profile_id}", user_path(@user) %>
          </p>
          <div id="sidebar_user_description">
            <%= @user.description %>
          </div>
          <% if @user.social_link.present? %>
          <table class="user_show_link">
            <tr>
              <td valign="top">
                <p class="user_show_link"><%= image_tag "link.png" %></p>
              </td>
              <td valign="top">
                <% if @user.social_link.present? %>
                <%= link_to @user.social_link, "#{@user.social_link}", class: "user_social_link" %>
                <% end %>
              </td>
            </tr>
          </table>
          <% end %>
          <% if user_signed_in? %>
          <div id="user_follow_form">
            <%= render "follow_form" %>
          </div>
          <% end %>
          <div id="follow-count">
            <%= render 'shared/stats' %>
          </div>
        </div>
      </td>
    <tr>
      <td valign="top" class="user_show_left">
        <div id="user_sidebar">
          <div id="user_all_memos">
            <% if @user.article_memos.present? %>
            <% @user.article_memos.each do |memo| %>
            <li class="user_article_memo"><%= link_to memo.title, user_article_memo_path(id: memo.id, user_id: @user.id) %></li>
            <% end %>
            <% else %>
            公開されているメモはありません。
            <% end %>
          </div>
      </div>
    </td>
    <td valign="top" class="user_show_center">

      <table class="user_sub_info_table">
        <tr>
          <td>
            <div id="user_sub_info_1-drawer">
              <input id="user_sub_info_1-input" type="checkbox" class="user_sub_info_1-unshown">
              <label id="user_sub_info_1-open" for="user_sub_info_1-input"><%= image_tag "code.png" %></label>
              <label class="user_sub_info_1-unshown" id="user_sub_info_1-close" for="user_sub_info_1-input"></label>
              <div id="user_sub_info_1-content">
                <div id="user_sidebar_right">
                  <% if @user_repos.present? %>
                    <% @user_repos.each do |repo| %>
                    <% if public_repo?(repo) %>
                    <div id="user_each_repo">
                      <table class="github_repo">
                        <tr>
                          <td>
                            <p class="github_icon">
                              <%= image_tag "github.png" %>
                            </p>
                          </td>
                          <td>
                            <p class="repo_name">
                              <strong><%= link_to repo.name, repo.svn_url %></strong>
                            </p>
                          </td>
                          </tr>
                        </table>

                      <% if repo.description.present? %>
                      <p class="repo_description"><%= repo.description %></p>
                      <% end %>
                    </div>
                    <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </td>
          <td>
          </td>
          <td>
            <div id="user_sub_info_2-drawer">
              <input id="user_sub_info_2-input" type="checkbox" class="user_sub_info_2-unshown">
              <label id="user_sub_info_2-open" for="user_sub_info_2-input"><%= image_tag "article_memo_3.png" %></label>
              <label class="user_sub_info_2-unshown" id="user_sub_info_2-close" for="user_sub_info_2-input"></label>
              <div id="user_sub_info_2-content">
                <div id="user_sidebar_right">
                    <div id="user_all_memos">
                      <% @user.article_memos.each do |memo| %>
                      <li class="user_article_memo"><%= link_to memo.title, user_article_memo_path(id: memo.id, user_id: @user.id) %></li>
                      <% end %>
                    </div>
                </div>
              </div>
            </div>
          </td>
          <td>
          </td>
        </tr>
      </table>

      <div id="user_article_list">

          <% @articles.each do |article| %>
          <%= link_to article_path(article) do %>
          <div id='user_article_list_bottom'>
            <table class="user_article_list_top_table">
              <tr>
                <td>
                 <h2>
                   <object><%= link_to article.title, article_path(article), { :class => "article_link" } %></object>
                 </h2>
               </td>
             </tr>
           </table>
          <p class='user_article_list_category'>
            <% article_tags(article).each do |tag| %>
              <object><%= link_to "##{tag}", searches_path(tag: tag), { :class => "article_list_tag" } %></object>
            <% end %>
            <% if article.repository_url.present? %>
            <object><%= link_to "#オープンソース", searches_path(status: "オープンソース"), { :class => "special_tag" }%></object>
            <% end %>
          </p>
            <table>
            <tr>
            <td class=user_article_list_comments>
              <p class='user_article_list_comments'>
                <%= image_tag "comment1.png" %>
              </p>
            <td>
            <td class="user_article_list_comments">
                <%= article.article_comments.count %>
            <td>
            <td>
              <p class='user_article_list_likes'>
                <%= image_tag "create_like.png"%>
              </p>
            <td>
            <td class="user_article_list_likes">
                <%= article.likes.count %>
            <td>
            <td class="user_article_list_username">
              <p class='user_article_list_date'>
                  <%= time_ago_in_words(article.created_at) %>
              </p>
            </td>
            </tr>
          </table>
        </div>
        <% end %>
          <% end %>
      </div>
      </td>
      <td valign="top" class="user_show_right">
        <div id="user_sidebar_right">
          <% if @user_repos.present? %>
          <% @user_repos.each do |repo| %>
          <% if public_repo?(repo) %>
          <div id="user_each_repo">
            <table class="github_repo">
              <tr>
                <td>
                  <p class="github_icon">
                    <%= image_tag "github.png" %>
                  </p>
                </td>
                <td>
                  <p class="repo_name">
                    <strong><%= link_to repo.name, repo.svn_url %></strong>
                  </p>
                </td>
                </tr>
              </table>

            <% if repo.description.present? %>
            <p class="repo_description"><%= repo.description %></p>
            <% end %>
          </div>
          <% end %>
          <% end %>
          <% else %>
          <div id="user_each_repo">
            公開されているレポジトリはありません。
          </div>
          <% end %>
        </div>

    </td>
  </tr>
</table>
