

  <table class="user_show_bottom_table">
  <tr>
    <td valign="top" class="user_show_profile" colspan="3">
      <div id='sidebar_user_show'>
          <p class='picture_user_show'>
            <%= image_tag @user.picture.url if @user.picture.present? %>
            <%= image_tag "profile.png" if @user.picture.blank? %>
          </p>
          <p class="user_show_profile">
          <%= link_to "#{@user.username}", user_path(@user) %>
          </p>

          <div id="sidebar_user_description">
            <%= @user.description %>
          </div>

        <div id="user_follow_form">
          <%= render "follow_form" %>
        </div>
        <div id="follow-count">
          <%= render 'shared/stats' %>
        </div>
      </div>
    </td>
  <tr>
    <td valign="top" class="user_show_left">
      <!-- <p class="box_name">
        <%= link_to 'memoした投稿', user_path(memo: @user.article_memos) %>
      </p> -->
      <div id="user_sidebar">
        <div id="user_all_memos">
          <% @user.article_memos.each do |memo| %>
          <li class="user_article_memo"><%= link_to memo.title, user_article_memo_path(id: memo.id, user_id: @user.id) %></li>
          <% end %>
        </div>
        <ul>
            <%= link_to 'いいねした投稿', user_path(like: @user.likes) %>
        </ul>

    </div>
  </td>
  <td valign="top" class="user_show_center">
      <div id="user_article_list">
          <% @articles.each do |article| %>
          <div id='user_article_list_bottom'>
           <h2>
              <%= link_to article.title, article_path(article)%>
           <h2>
          <p class='user_article_list_date'>
              <%= article.updated_at.strftime("%Y/%m/%d") %>
          </p>
          <p class='user_article_list_category'>
              <% article.tag_list.each do |f| %>
              <%= link_to f, user_path(category: f),  { :class => "article_category" } %>
              <% end %>
          </p>

          <table class="article_list_eval">
            <td class=article_list_comments>
              <p class='article_list_comments'>
                <%= image_tag "comment1.png" %>
              </p>
            <td>
            <td class="article_list_comments">
                <%= article.article_comments.count %>
            <td>
            <td>
              <p class='article_list_likes'>
                <%= image_tag "create_like.png"%>
              </p>
            <td>
            <td class="article_list_likes">
                <%= article.likes.count %>
            <td>
          </table>


          </div>
          <% end %>

      </div>
    </td>
    <td valign="top" class="user_show_right">
      <div id="user_sidebar_right">
        <% if @user_repos.present? %>
          <% @user_repos.each do |repo| %>
          <div id="user_each_repo">
            <table class="github_repo">
              <tr>
                <td>
                  <p class="github_icon">
                    <%= image_tag "github.png" %>
                  </p>
                </td>
                <td>
                  <p class="repo_name">
                    <strong><%= link_to repo.name, repo.svn_url %></strong>
                  </p>
                </td>
                </tr>
              </table>

            <% if repo.description.present? %>
            <p class="repo_description"><%= repo.description %></p>
            <% end %>
          </div>
          <% end %>
        <% end %>
      </div>

    </td>
  </tr>
</table>
