
<div id='article_form_wrap'>

    <table class="parent_article_table">
      <tr>
        <td valign="top" class="parent_article_user_picture">
          <p class="link_icon"><%= image_tag "link.png" %></p>
        </td>
        <td valign="top" class="parent_article_user_picture">
          <p class="parent_article_user">
            <% if @article.user.picture.present? %>
            <%= link_to image_tag(@article.user.picture.url), user_path(@article.user), {:class => "article_list_user"}%>
            <% else %>
            <%= link_to image_tag("profile.png"), user_path(@article.user), {:class => "article_list_user"}%>
            <% end %>
          </p>
        </td>
        <td valign="top" class="parent_article_user_main_element">
          <p class="parent_article_user"><%= link_to '"' + @article.title + '"', article_path(@article) %>に関するメモ</p>
        </td>
      </tr>
    </table>

  </dvi>
  <%= form_for ([@article, @article.article_memos.build]) do |memo| %>
  <div id='article_memo_form_title'>
      <%= memo.text_field :title, class: "article_title" %>
  </div>

  <div id=whole_editor>
  <table class="editor_helper">
    <tr>
      <td class="each_element">
        <p class="markdown_code"><%= image_tag "code.png" %></p>
      </td>
      <td class="gap">
      </td>
      <td class="each_element">
        <p class="markdown_table"><%= image_tag "table.png" %></p>
      </td>
      <td class="gap">
      </td>
      <td class="each_element">
        <p class="markdown_quote"><%= image_tag "quote.png" %></p>
      </td>
      <td class="gap">
      </td>
      <td class="each_element">
        <p class="markdown_list"><%= image_tag "list.png" %></p>
      </td>
      <td class="gap">
      </td>
      <td class="display_size">
        <p class="expand_form"><%= image_tag "expand.png" %></p>
        <p class="reduce_form"><%= image_tag "reduce.png" %></p>
      </td>
    </tr>
  </table>

    <table id="editor">
      <tr>
        <td class="article_form_main" vali
        gn="top">
          <%= memo.text_area :body, "v-model" => "input", "debouce" => "300", :placeholder => "body", :class => "article_body", :id => "article_body" %>
        </td>
        <td class="article_form_sub" valign="top">
          <div v-html="input | marked", id="article_preview"></div>
        </td>
      </tr>
    </table>
  </div>

  <div id="article_submit_button">
    <%= submit_tag "公開メモとして保存", class: "article_submit_button" %>
    <%= submit_tag "プライベートメモとして保存",  name: "save_as_private", class: "article_submit_as_draft_button" %>
  </div>
    <% end %>
</div>
