<table class=dashboard_show_table>
  <tr>
      <td valign="top" class="dashboard_show_left">
        <div id="dashboard_show_center">
          <p class="dashboard_show_center_header">
            <%= image_tag @article.picture.first.url if @article.picture.first.present? %>
          </p>
          <p class='dashboard_show_center_date'>
            <%= "#{@article.updated_at.strftime("%Y/%m/%d")}に更新" %>
          </p>
          <p class="dashboard_show_center_title">
            <%= @article.title %>
          </p>
            <p class='dashboard_show_center_category'>
              <% @article.tag_list.each do |tag| %>
              <%= link_to "##{tag}", searches_path(tag: tag), { :class => "article_list_tag" } %>
              <% end %>
            </p>
            <div id="dashboard_show_center_all_body">
              <%= raw add_id_and_class_to_markdown(markdown(@article.body)) %>
            </div>

        </div>
      </td>
      <td valign="top" class="article_show_right">
        <div id="article_show_right">

          <div id="sidebar_following_scroll">
            <%= link_to "記事を編集する", edit_article_path(@article), class: "edit_article_button" %>
            <%= link_to "実際の記事を見る", article_path(@article), class: "repository_button" %>
            <% if @article.repository_url.present? %>
            <%= link_to "ソースを見る", @article.repository_url, class: "repository_button" %>
            <% end %>
            <% if @toc != '<div id=toc></div>' %>
            <div id="sidebar_article_toc">
              <%= raw @toc %>
            </div>
            <% end %>
            <% if public_article_memos(@article, 1).present? %>
            <div id="sidebar_article_memo">
              <% public_article_memos(@article, 7).each do |memo| %>
                <ul>
                  <li class="user_article_memo"><%= link_to memo.title, user_article_memo_path(id: memo.id, user_id: @article.user.id) %></li>
                </ul>
              <% end %>
            </div>
            <% end %>
            <div class="margin-bottom-10px article_info">
              <p class="margin-bottom-10px article_info">いいねの数</p>
              <p class="padding-botttom-10px border-bottom-1px font-weight-bold article_info"><%= @article.likes_count %></p>


              <p class="margin-top-10px margin-bottom-10px article_info">ストックの数</p>
              <p class="padding-botttom-10px border-bottom-1px font-weight-bold article_info"><%= @article.stocks_count %></p>


              <p class="margin-top-10px margin-bottom-10px article_info"><%= link_to "コメントの数", "#{main_url}/articles/#{@article.id}#article_comment_center", class: "text_underline" %></p>
              <p class="padding-botttom-10px border-bottom-1px font-weight-bold article_info"><%= @article.article_comments.count %></p>


              <p class="margin-top-10px margin-bottom-10px article_info">PV</p>
              <p class="font-weight-bold article_info"><%= page_view(@article) %></p>
            </div>

            <%= link_to '記事を削除する',
                article_path(id: @article),
                method: :delete,
                class: 'button delete_article_button',
                class: 'button delete_article_button',
                data: { confirm: "タイトル「#{@article.title}」を削除します。よろしいですか？" }%>
          </div>
        </div>
      </td>
    </tr>

  </table>

  <p class="dashboard_article_info_substitute_button">
    <%= image_tag "database.png" %>
  </p>

  <div>
    <div id="dashboard_article_info-drawer">
      <input id="dashboard_article_info-input" type="checkbox" class="dashboard_article_info-unshown">
      <label id="dashboard_article_info-open" for="dashboard_article_info-input"></label>
      <label class="dashboard_article_info-unshown" id="dashboard_article_info-close" for="dashboard_article_info-input"></label>
      <div id="dashboard_article_info-content">
        <div id="user_sidebar_right">
          <div id="sidebar_following_scroll">
            <% if @article.article_memos.present? %>
            <div id="sidebar_article_memo">
              <% public_article_memos(@article, 7).each do |memo| %>
                <ul>
                  <li class="user_article_memo"><%= link_to memo.title, user_article_memo_path(id: memo.id, user_id: @article.user.id) %></li>
                </ul>
              <% end %>
            </div>
            <% end %>
            <div class="margin-bottom-10px article_info">
              <p class="margin-bottom-10px article_info">いいねの数</p>
              <p class="padding-botttom-10px border-bottom-1px font-weight-bold article_info">
                <% if @article.likes_count.nil? %>
                0
                <% else %>
                <%= @article.likes_count %>
                <% end %>
              </p>


              <p class="margin-top-10px margin-bottom-10px article_info">ストックの数</p>
              <p class="padding-botttom-10px border-bottom-1px font-weight-bold article_info">
                <% if @article.stocks_count.nil? %>
                0
                <% else %>
                <%= @article.stocks_count %>
                <% end %>
              </p>


              <p class="margin-top-10px margin-bottom-10px article_info">コメントの数</p>
              <p class="padding-botttom-10px border-bottom-1px font-weight-bold article_info">
                <%= @article.article_comments.count %>
              </p>


              <p class="margin-top-10px margin-bottom-10px article_info">PV</p>
              <p class="font-weight-bold article_info">
                <%= page_view(@article) %>
              </p>
            </div>

            <%= link_to "記事を編集する", edit_article_path(@article), class: "edit_article_button" %>
            <%= link_to "実際の記事を見る", article_path(@article), class: "repository_button" %>
            <% if @article.repository_url.present? %>
            <%= link_to "ソースを見る", @article.repository_url, class: "repository_button" %>
            <% end %>

            <%= link_to '記事を削除する',
                article_path(id: @article),
                method: :delete,
                class: 'button delete_article_button',
                class: 'button delete_article_button',
                data: { confirm: "タイトル「#{@article.title}」を削除します。よろしいですか？" }%>
          </div>
        </div>
      </div>
    </div>
  </div>
