  <!DOCTYPE html>
<html>
  <head>
    <title>OpenoteApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon(init: true) %>
    <%= Gon::Base.render_data %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js'></script>
    <script src="js/tag-it.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
    <link href="css/jquery.tagit.css" rel="stylesheet" type="text/css">
    <%= javascript_include_tag 'tag-it.js', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, minimum-scale=0.2, maximum-scale=2, user-scalable=yes">
  </head>

  <script>

</script>

  <header>
    <% if user_signed_in? %>
<nav class="g_nav">
    <ul class="g_nav_list ol2 clearfix">
      <li class="g_nav_itself">
        <table class=search_form_table>
          <tr>
            <td>
              <p class="search_picture"><%= image_tag "search.png" %></p>
            </td>
            <td>
              <%= form_tag(searches_path, :method => 'get', enforce_utf8: false) do %>
                <%= text_field_tag :q, params[:q], class: "search_form", :placeholder => "プレポ全体を検索する" %>
                <%= submit_tag 'search', :name => nil, class: "search_button" %>
              <% end %>
            </td>
          </tr>
        </table>
      </li>
      <li class="g_nav_itself"><%= link_to "新規投稿", new_article_path, { :class => "new_article_button" } %></li>
      <li class="g_nav_hover">
        <p class="notification_picture"><%= image_tag "notification_3.png" %></p>
        <ul class="g_nav_c">
            <li>通知</li>
            <% if current_user.notifications.present? %>
            <div id="notification"><%= link_to notification_content(current_user.notifications.first), link_through_path(current_user.notifications.first) %></div>
            <% end %>
            <div><%= link_to "通知一覧", notifications_path(user_id: current_user)%></div>
        </ul>
      </li>
      <li class="g_nav_hover">
        <p class='picture_header'><%= image_tag current_user.picture.url if current_user.picture.present? %></p>
          <ul class="g_nav_c">
              <li><p class="user_name">@<%= link_to current_user.username, user_path(current_user) %></p></li>
              <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          </ul>
      </li>
    </ul>
</nav>

    <% else %>
    <ul class="nav_signed_out">
      <li class="nav__item"><p><%= link_to 'サインアップ', new_user_registration_path %></p></li>
      <li class="nav__item">
        <p>
          <div class="popupModal1">
           <input type="radio" name="modalPop" id="pop11" />
           <label for="pop11" class="popup_name">ログイン</label>
           <input type="radio" name="modalPop" id="pop12" />
           <label for="pop12">CLOSE</label>
           <input type="radio" name="modalPop" id="pop13" />
           <label for="pop13">×</label>
           <div class="modalPopup2">
            <div class="modalPopup3">
             <h2 class="modalTitle">ログイン</h2>
             <div class="modalMain">

             <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

             <div id='login_form_popuup'>
                 <div id="login_form_email">
                   <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "メールアドレス", class: "login_form_email" %>
                 </div>

                 <div id="login_form_password">
                   <%= f.password_field :password, autocomplete: "current-password", :placeholder => "パスワード", class: "login_form_password" %>
                 </div>

                 <% if devise_mapping.rememberable? -%>
                 <div id="login_form_rememberme">
                     <%= f.check_box :remember_me, class: "login_form_rememberme" %>
                     <%= f.label :remember_me %>
                 </div>
                 <% end -%>

                 <div id="login_form_actions">
                   <%= f.submit "Log in", class: "login_form_actions" %>
                 </div>
                 <% end %>

                 <div id='login_form_links'>

                   <%- if devise_mapping.omniauthable? %>
                     <%- resource_class.omniauth_providers.each do |provider| %>
                       <%= link_to image_tag("github.png"), omniauth_authorize_path(resource_name, provider) , { :class => "left_sidebar_button" } %>
                     <% end -%>
                   <% end -%>

                   <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                     <%= link_to "Sign up", new_registration_path(resource_name) %><br />
                   <% end -%>

                   <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                     <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
                   <% end -%>


                 </div>
               </div>

         </div>
        </div>
       </div>
      </div>
    </p>
  </li>
</ul>


    <% end %>
  </header>

  <body id='all_contents'>
      <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
        <%= flash[:notice] %>

    <%= yield %>
  </body>



  <footer>

  </footer>
</html>
